[submodule "tokenBank/lib/forge-std"]
	path = tokenBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tokenBank/lib/openzeppelin-contracts"]
	path = tokenBank/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "tokenBank/lib/chainlink-brownie-contracts"]
	path = tokenBank/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
